<?xml version="1.0" encoding="UTF-8" standalone="yes"?><jarSettings><jvm>default</jvm><homedir>/home/zhiangz/Documents/BIMOP/BIMServer/home</homedir><address>192.168.1.103</address><proxyHost></proxyHost><useProxy>false</useProxy><proxyPort>1080</proxyPort><port>8082</port><heapsize>4245m</heapsize><stacksize>1024k</stacksize><forceipv4>false</forceipv4></jarSettings>